* {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

header {
  margin: 10px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin: 0;
  font-size: 23px;
}

section {
  margin: 20px 20px;
}

a:link,
a:visited {
  text-decoration: none;
  text-emphasis: none;
  color: black;
}

li {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
}

ul {
  list-style: none;
}

footer {
  text-align: right;
}

.card {
  margin: 40px, 40px, 0;
  /* BACKGROUND WHEN MORNING */
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  /* BACKGROUND COLOR IF SUNSET OR SUNRISE
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
  /* BACKGROUND COLOR IF CLOUDY OR RAINY
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
}

.more-info,
.forecast-week {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.main-metadata {
  font-size: 35px;
  text-align: left;
  line-height: 30px;
}

.main-icon {
  font-size: 150px;
  color: #ffd66b;
  /* margin: 0 auto;
  display: inline-block;
  text-align: center; */
}

.metadata {
  line-height: 40px;
}

.temperature-display {
  font-size: 90px;
  margin: auto;
  display: inline;
  padding: 0;
}

.temperature-unit {
  font-size: 20px;
  text-align: left;
}

.weather {
  margin: 0;
  font-size: 30px;
  text-transform: capitalize;
}

.weekday img {
  padding: 0;
  width: 60px;
}

#city-input {
  text-align: left;
}
